.rows{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
}
.cover_col{
    &:hover{
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(60, 60, 60, 0.2);
    }
    padding: 10px;
    span{
        margin: 5px;
        text-align: center;
        display: block;
        font-size: 15px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}