.rows{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
}
.cover_col{
    &:hover{
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
    padding: 10px;
    .cover_img{
        width: 150px;
        height: 150px;
        img{
            border-radius: 10px;
        }
    }
    span{
        width: 150px;
        padding: 10px 0;
        display: block;
        font-size: 15px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}