.demo-logo-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
  transition: transform 0.3s;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d8;
  &:hover{
    transform: scale(1.1);
  }
  span{
    color: #3f3f46;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
  }
}
