.full-player-main{
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.full-player-header{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: flex-end;
}
.full-player-wrapper{
  display: flex;
  justify-content: center;
}
.full-player-sider{
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .full-player-sider-cover{
      width: 20rem;
      height: 20rem;
      overflow: hidden; /* 防止图片溢出容器 */
      .cover-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
  }
  .full-player-sider-info{
    width: 20rem;
    padding: 20px;
    .artists{
      color: black;
      display: inline-block;
      padding: 2px;
      margin-top: 10px;
      &:hover{
        color: red;
        text-decoration: underline;
      }
    }
  }
}
.full-player-content{
  .lyric-list{
    /* border: 1px solid red; */
    justify-content: center;
    text-align: center;
    height: 80vh;
    width: 100%;
    overflow: scroll;
    li{
      padding: 10px;
    }
    .lyric-active{
      color: red;
      font-size: 20px;
      font-weight:900;
    }
  }
}


.full-player-footer{
  height: 6.25rem;
  line-height: 6.25rem;
  opacity: 10;
}

.full-player-bc{
  background-color: rgba(255, 255, 255, 1);
}

.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}