* {
    margin: 0;
    padding: 0;
    /* 不能复制 */
    user-select: none;
    box-sizing: border-box;
    -webkit-user-drag: none;
    ::after {
      box-sizing: border-box;
    }
    /*隐藏滚动条*/
    ::-webkit-scrollbar {
      display: none;
    }
}

body {
    width: 100vw;
    height: 100vh;
}
